<div id="newsletter">
    <div class="row">

      <div class="eight columns">
        <h5>Stay on top of what's happening in responsive design with <a href="http://www.zurb.com/responsive">Responsive from ZURB</a>.</h5>
        <p>Sign up to receive monthly <a href="http://www.zurb.com/responsive/reading">Responsive Reading</a> highlights. <a href="http://www.zurb.com/responsive/reading/2012/10">Read Last Month's Edition »</a></p>
      </div>

      <div class="four columns">
        <div class="row collapse">
          <form method="post">
            <div class="eight mobile-three columns">
              <input type="text" name="email" placeholder="signup@example.com">            </div>
                        <div class="four mobile-one columns">
              <input type="submit" href="#" class="postfix small button expand" value="Sign Up">
            </div>
                      </form>
        </div>
      </div>
    </div>
  </div>